<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SnagitImgur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SnagitImgur.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>d9c6c0bfd99b470</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>400faaac7a5203d7d9d7f551809e43caf4c3f7fb</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccountUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenBrowser" serializeAs="String">
                <value>True</value>
            </setting>
        </SnagitImgur.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
