<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SnagitImgur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SnagitImgur.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>d9c6c0bfd99b470</value>
            </setting>
            <setting name="OAuthToken" serializeAs="String">
                <value />
            </setting>
        </SnagitImgur.Properties.Settings>
    </userSettings>
</configuration>